<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Katalog Sekawan Restaurant" />
		<meta name="keywords" content="Restaurant" />
		<meta name="theme-color" content="#B06A25" />

		<link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
		<link rel="icon" href="/icons/favicon.png" />
		<link rel="manifest" href="./app.webmanifest" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet" />
		<title>Sekawan</title>
	</head>

	<body>
		<!-- Start: Skip to Content -->
		<a href="#" class="skip-to-content">Skip to Content</a>
		<!-- End: Skip to Content -->

		<!-- Start: Header -->
		<header>
			<!-- Start: Navbar -->
			<nav id="nav">
				<div class="nav-header">
					<a class="nav-logo" href="#/">Sekawan</a>

					<button class="menu-button">&#9776;</button>
				</div>

				<ul class="nav-list">
					<li class="nav-item"><a href="#/" class="nav-link">Home</a></li>
					<li class="nav-item">
						<a href="#/favorite-restaurants" class="nav-link">Favorites</a>
					</li>
					<li class="nav-item">
						<a href="https://github.com/LukmanRambe" class="nav-link"
							>About Us</a
						>
					</li>
				</ul>
			</nav>

			<!-- End: Navbar -->
		</header>
		<!-- End: Header -->

		<!-- Start: Main Content -->
		<main id="main-content"></main>
		<!-- End: Main Content -->

		<!-- Start: Footer -->
		<footer id="footer">
			<p class="footer-text">Copyright &copy; 2023 - Sekawan</p>
		</footer>
		<!-- End: Footer -->
	</body>
</html>
