<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sekawan</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Katalog Sekawan Restaurant" />
		<meta name="keywords" content="Sekawan Restaurant" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet" />
	</head>

	<body>
		<!-- Start: Skip to Content -->
		<a href="#main-content" class="skip-to-content">Skip to Content</a>
		<!-- End: Skip to Content -->

		<!-- Start: Header -->
		<header>
			<!-- Start: Navbar -->
			<nav id="nav">
				<div class="nav-header">
					<a class="nav-logo" href="/">Sekawan</a>

					<a class="menu-button" href="#">&#9776;</a>
				</div>

				<ul class="nav-list">
					<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Favorites</a></li>
					<li class="nav-item">
						<a href="https://github.com/LukmanRambe" class="nav-link"
							>About Us</a
						>
					</li>
				</ul>
			</nav>

			<!-- End: Navbar -->

			<!-- Start: Hero -->
			<section id="hero">
				<article class="hero-copywrite">
					<h1 class="hero-copywrite-title">
						The Authentic <br />
						Fine Dining Experience
					</h1>

					<p class="hero-copywrite-subtitle">
						We are here to satisfy your cravings for any kind of cuisine all
						around the world <br />
						Cooked into perfection by our expert chefs
					</p>

					<a class="cta-button hero-cta" href="#main-content"
						>Find Restaurant</a
					>
				</article>
			</section>
			<!-- End: Hero -->
		</header>
		<!-- End: Header -->

		<!-- Start: Main Content -->
		<main>
			<!-- Start: About Us -->
			<section class="about-us">
				<h2 class="section-title about-us-title">About Us</h2>

				<article class="about-us-content">
					<figure class="about-us-image">
						<img
							src="/images/abous-us/about-us-1.jpg"
							alt="Plating process by a chef" />
					</figure>

					<article class="about-us-copywrite">
						<h3 class="about-us-copywrite-title">
							Your Unforgetable <br />
							Moments Starts Here
						</h3>

						<p class="about-us-copywrite-subtitle">
							Founded in 2020 by 3 young men. The idea of "Sekawan" comes to
							serve people by giving them exquisite dishes made with the
							freshest ingredients and ensuring that your visit is both
							enjoyable and memorable
						</p>

						<a class="cta-button" href="https://github.com/LukmanRambe">
							Read Our Full Story
						</a>
					</article>
				</article>
			</section>
			<!-- Start: About Us -->

			<!-- Start: Restaurant List -->
			<section id="main-content" class="restaurant-list">
				<h2 class="section-title restaurant-list-title">Our Restaurants</h2>

				<article class="restaurant-list-content"></article>
			</section>
			<!-- End: Restaurant List -->
		</main>
		<!-- End: Main Content -->

		<!-- Start: Footer -->
		<footer id="footer">
			<p class="footer-text">Copyright &copy; 2023 - Sekawan</p>
		</footer>
		<!-- End: Footer -->
	</body>
</html>
