:root {
	--main-color: #b06a25;
	--main-light-color: #d58d46;
	--dark-background: #303030;
	--light-background: #fffdd0;
	--text-color: #f6f6f6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "Oswald", sans-serif;
	overflow: hidden;
}

header {
	width: 100%;
}

main {
	min-height: 100%;
	background: var(--dark-background);
}

.loading-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--dark-background);
	z-index: 100;
}

.spinner {
	width: 48px;
	height: 48px;
	border: 5px solid #fff;
	border-bottom-color: var(--main-color);
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.fetch-failed {
	color: var(--text-color);
	font-size: 1.25rem;
	text-align: center;
	width: 100%;
	letter-spacing: 0.03rem;
	padding: 3rem 1rem;
}

/* Start: Skip to Content */
.skip-to-content {
	position: absolute;
	top: -5rem;
	left: -5rem;
	background-color: transparent;
	color: var(--text-color);
	padding: 8px;
	z-index: 10;
	text-decoration: none;
}
/* End: Skip to Content */

.skip-to-content:focus {
	top: 1rem;
	left: 1rem;
	outline: 1px solid var(--main-color);
	background-color: var(--main-light-color);
	border-radius: 20px;
	padding: 0.5rem 1.5rem;
}

/* Start: CTA Button */
.cta-button {
	width: 100%;
	background: var(--main-color);
	padding: 1rem 2rem;
	border-radius: 5px;
	border: none;
	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	color: var(--text-color);
	text-align: center;
	letter-spacing: 0.09rem;
	transition: all ease-in-out 0.15s;
}

.cta-button:hover {
	background: var(--main-light-color);
}

.cta-button:focus {
	background: var(--main-light-color);
	outline: 2px solid var(--main-color);
}
/* End: CTA Button */

/* Start: Section Title */
.section-title {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
	color: var(--text-color);
}
/* End: Section Title */

/* Start: Navbar */
#nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 5rem;
	position: absolute;
	top: 0;
	background: transparent;
	z-index: 2;
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo {
	color: var(--text-color);
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-size: 1.8rem;
	min-width: 44px;
	min-height: 44px;
	padding: 0.2rem;
	font-weight: 700;
	text-decoration: none;
}

.nav-logo:focus {
	color: var(--main-light-color);
	outline: none;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	gap: 2rem;
}

.nav-item {
	display: flex;
	align-items: stretch;
}

.nav-link {
	color: var(--text-color);
	font-size: 1.1rem;
	min-width: 44px;
	padding: 0.7rem 0;
	text-decoration: none;
	letter-spacing: 0.15rem;
	font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--main-light-color);
	outline: none;
	transition: all ease-in-out 0.12s;
}

.menu-button {
	display: none;
}
/* Start: Navbar */

/* Start: Hero */
#hero {
	width: 100%;
	height: 100dvh;
	height: 100vh;
	position: relative;
}

#hero::after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	left: 0;
}

.hero-image source,
.hero-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-copywrite {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	position: relative;
	align-items: start;
	padding: 0 5rem;
	padding-top: 3rem;
	z-index: 1;
}

.hero-copywrite-title {
	color: var(--text-color);
	font-size: 4rem;
	margin-bottom: 1rem;
	letter-spacing: 0.4rem;
	line-height: 125%;
	text-transform: uppercase;
}

.hero-copywrite-subtitle {
	display: flex;
	flex-direction: column;
	color: var(--text-color);
	font-size: 0.9rem;
	font-weight: 300;
	margin-bottom: 2.5rem;
	letter-spacing: 0.04rem;
	font-family: "Poppins", sans-serif;
}

.hero-cta {
	width: 12rem;
}
/* Start: Hero */

/* Start: About Us */
.about-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--light-background);
	padding: 3rem 5rem;
}

.about-us-title {
	color: var(--dark-background);
}

.about-us-content {
	width: 100%;
	gap: 5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.about-us-image {
	width: fit-content;
	border: 5px double var(--main-color);
	padding: 0.4rem;
}

.about-us-image img {
	width: 100%;
	min-width: 17rem;
	max-width: 35rem;
	aspect-ratio: 3/4;
}

.about-us-copywrite-title {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.about-us-copywrite-subtitle {
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 0.03rem;
	font-family: "Poppins", sans-serif;
	margin-bottom: 3.5rem;
}
/* End: About Us */

/* Start: Restaurant List */
.restaurant-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--dark-background);
	padding: 2.5rem 0;
	min-height: 100%;
	padding-bottom: 7rem;
}

.restaurant-list-title {
	color: var(--text-color);
}

.restaurant-list-content {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 2rem;
	padding: 0 5rem;
}

.restaurant-card {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: var(--text-color);
	padding-bottom: 1rem;
	transition: all ease-out 0.15s;
	position: relative;
}

.restaurant-card-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	line-height: 0;
	font-size: 0;
	color: transparent;
}

.restaurant-card-overlay:focus {
	outline: 3px solid var(--main-light-color);
}

.restaurant-card:has(.restaurant-card-overlay:focus) {
	scale: 1.03;
}

.restaurant-card:hover {
	scale: 1.07;
	cursor: pointer;
}

.restaurant-card-header {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 3px solid var(--main-color);
	overflow: hidden;
}

.restaurant-card-header img {
	width: 100%;
	aspect-ratio: 5/3;
	object-fit: cover;
	transition: all ease-out 0.15s;
	vertical-align: bottom;
}

.restaurant-card:hover .restaurant-card-header img {
	scale: 1.03;
}

.restaurant-card-body {
	padding: 1rem;
	font-family: "Poppins", sans-serif;
}

.restaurant-card-title {
	font-size: 1.15rem;
	font-weight: 600;
	letter-spacing: 0.04rem;
	text-transform: capitalize;
	margin-bottom: 0.25rem;
}

.restaurant-card-subtitle {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	font-size: 0.8rem;
	margin-bottom: 1.25rem;
}

.restaurant-card-city {
	color: #545454;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

.restaurant-card-rating {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-weight: 500;
	font-size: 0.8rem;
}

.star-icon {
	width: 100%;
	object-fit: cover;
}

.restaurant-card-description {
	font-size: 0.9rem;
	font-weight: 400;
	text-align: justify;
	word-break: break-all;
}
/* Start: Restaurant List */

/* Start: Restaurant Detail */
.restaurant-detail-content {
	padding-top: 5rem;
	background: var(--dark-background);
}

.restaurant-detail-hero {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 2rem;
	padding: 5rem;
	background: var(--dark-background);
}

.restaurant-detail-image {
	width: 100%;
}

.restaurant-detail-image img {
	width: 42rem;
	object-fit: cover;
	aspect-ratio: 14/10;
	border: 5px double var(--main-color);
}

.restaurant-detail-copywrite {
	color: var(--text-color);
}

.restaurant-detail-name {
	font-size: 2.25rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin-bottom: 0.5rem;
}

.restaurant-detail-overview {
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.1rem;
	font-size: 0.85rem;
	font-weight: 300;
}

.restaurant-detail-rating {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.detail-star-icon {
	width: 100%;
	min-width: 2rem;
}

.restaurant-detail-address {
	margin-top: 1rem;
	font-weight: 500;
}

.restaurant-detail-categories {
	font-weight: 500;
	margin-bottom: 2rem;
}

.restaurant-detail-description {
	text-align: justify;
	word-break: break-all;
}

.restaurant-detail-menus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: var(--light-background);
	padding: 3rem 0;
}

.restaurant-detail-menus-title {
	color: var(--dark-background);
}

.menus-list {
	display: flex;
	justify-content: space-between;
	gap: 10rem;
}

.foods-list,
.drinks-list {
	border: 5px double var(--main-color);
	border-radius: 15px;
	padding: 2.5rem 2rem;
	width: 30rem;
}

.foods-list-title,
.drinks-list-title {
	text-align: center;
	font-size: 1.65rem;
	margin-bottom: 2rem;
	letter-spacing: 0.03rem;
	text-transform: uppercase;
}

.foods,
.drinks {
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5rem;
	row-gap: 0.7rem;
	list-style-type: none;
}

.foods li,
.drinks li {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	text-transform: capitalize;
	letter-spacing: 0.03rem;
}

.customer-reviews {
	display: flex;
	flex-direction: column;
	padding: 3rem 5rem;
	align-items: center;
	padding-bottom: 7rem;
}

.customer-review-cards {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	row-gap: 2rem;
}

.customer-review-card {
	font-family: "Poppins", sans-serif;
	width: 100%;
	height: 100%;
	min-height: 12rem;
	padding: 1.25rem;
	background: var(--text-color);
	border-radius: 12px;
}

.customer-review-card-header {
	margin-bottom: 1rem;
}

.customer-review-name {
	font-size: 1.25rem;
}

.customer-review-date {
	color: #545454;
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

.customer-review-text {
	font-size: 0.9rem;
	letter-spacing: 0.03rem;
}

.review-form-container {
	width: 40rem;
	border: 2px solid var(--main-light-color);
	padding: 2rem 1.25rem;
	margin-top: 7rem;
	border-radius: 12px;
}

.review-form-title {
	color: var(--text-color);
	font-size: 1.75rem;
	text-transform: uppercase;
	letter-spacing: 0.025rem;
	margin-bottom: 2rem;
}

.review-form-container form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.review-form-control {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.review-form-label {
	color: var(--text-color);
	font-size: 1.12rem;
	letter-spacing: 0.025rem;
}

.review-form-input {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	outline: none;
	color: var(--text-color);
	caret-color: var(--main-color);
	width: 100%;
	padding: 0.75rem;
	font-size: 0.9rem;
	border: 1px solid var(--main-light-color);
	background-color: var(--dark-background);
	border-radius: 5px;
	letter-spacing: 0.012rem;
	resize: none;
}

.review-form-input::placeholder {
	color: gray;
	font-weight: 300;
}

.review-form .cta-button {
	cursor: pointer;
}

.review-form-error-text {
	display: none;
	color: rgba(255, 37, 44, 0.9);
	letter-spacing: 0.05rem;
	border-radius: 5px;
}

.submit-review-button.success {
	color: var(--text-color);
	background-color: rgb(52, 165, 52);
	outline: none;
}

.submit-review-button.failed {
	color: var(--text-color);
	background-color: rgba(255, 37, 44, 0.9);
	outline: none;
}
/* End: Restaurant Detail */

/* Start: Favorite Button */
#favorite-button-container {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
}

#favorite-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: var(--dark-background);
	background: var(--main-color);
	border: 2px solid transparent;
	border-radius: 100%;
	width: 65px;
	height: 65px;
	transition: all ease-in-out 0.2s;
}

#favorite-button:hover {
	cursor: pointer;
	background: var(--main-light-color);
	border: 2px solid transparent;
	border-radius: 100%;
}

#favorite-button:active {
	border: 2px solid var(--dark-background);
}

#favorite-button:focus {
	outline: none;
	border: 2px solid var(--dark-background);
}
/* End: Favorite Button */

/* Start: Favorites Restaurant */
.favorite-restaurant-list {
	padding-top: 6rem;
}

.no-data {
	color: var(--text-color);
	font-size: 1.5rem;
	text-align: center;
	width: 100%;
	margin-top: 2rem;
}
/* End: Favorites Restaurant */

/* Start: Skeleton */
.restaurant-card-skeleton {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: var(--text-color);
	padding-bottom: 1rem;
	transition: all ease-out 0.15s;
	position: relative;
}

.restaurant-card-skeleton-header {
	width: 100%;
	height: 260px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	overflow: hidden;
	background: lightgray;
	position: relative;
}

.restaurant-card-skeleton-body {
	height: 168px;
	padding: 1rem;
	background: white;
}

.restaurant-card-skeleton-title {
	position: relative;
	overflow: hidden;
	margin-bottom: 0.5rem;
	width: 10rem;
	height: 1.5rem;
	background: lightgray;
}

.restaurant-card-skeleton-subtitle {
	position: relative;
	overflow: hidden;
	display: flex;
	gap: 0.5rem;
}

.restaurant-card-skeleton-city {
	position: relative;
	overflow: hidden;
	margin-bottom: 1.25rem;
	width: 3rem;
	height: 1rem;
	background: lightgray;
}

.restaurant-card-skeleton-rating {
	position: relative;
	overflow: hidden;
	margin-bottom: 1.25rem;
	width: 3rem;
	height: 1rem;
	background: lightgray;
}

.restaurant-card-skeleton-description {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 4.5rem;
	background: lightgray;
}

.restaurant-card-skeleton-header::after,
.restaurant-card-skeleton-title::after,
.restaurant-card-skeleton-subtitle::after,
.restaurant-card-skeleton-city::after,
.restaurant-card-skeleton-rating::after,
.restaurant-card-skeleton-description::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.2) 20%,
		rgba(255, 255, 255, 0.5) 60%,
		rgba(255, 255, 255, 0)
	);
	animation: shimmer 2s infinite;
	content: "";
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
/* End: Skeleton */

/* Start: Footer */
footer {
	width: 100%;
	height: 5rem;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--dark-background);
}

.footer-text {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.07rem;
	color: var(--main-light-color);
}
/* End: Footer */
